@model IEnumerable<CandidApply.Models.Application>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CandidApply!!</h1>
    <br />
    <p>This software solution serves as a comprehensive job application management application.</p>
    <p>Users have the capability to input detailed job application information,</p>
    <p>including attaching their resume and cover letter directly within the platform.</p>
    <p>As the hiring process advances, users can efficiently update the status of their applications and incorporate additional details pertaining to interviews and related progress.</p>
    <br />
    <span style="font-weight:bold">
        Test User: test@test.com<br />
        Password: Test1!<br />
        <strong>Do not put any private documents on this account.</strong>
    </span>
</div>
<div class="d-flex justify-content-center gap-5">
    <form asp-action="MoveToLogin" asp-controller="Home" method="get">
        <button type="submit" class="btn btn-primary btn-lg">Log in</button>
    </form>
    <form asp-action="MoveToRegister" asp-controller="Home" method="get">
        <button type="submit" class="btn btn-success btn-lg">Register</button>
    </form>
</div>
<br />
<br />
<div class="text-center">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
